#cr-stage
  #loading
    .progress.progress-success
      .bar{style: 'width: 0%'}
        0
  #menu{style: "display: none;"}
    %hr
    %h1 Space Darkness
    %hr
    #controls-container
      .controls
        .button.hover Start
        .button Settings
        .button Credits
  #game{style: "display: none;"}
    #life
      .progress.progress-success
        .bar
          100
  #pause{style: "display: none;"}
    Pause
  #game_over{style: "display: none;"}
    %h2 Game Over
    .controls
      .button Restart
      .button Return to menu
